<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Weather App</h1>

      <form (submit)="onSubmit()">
        <label for="city-name">Enter city name:</label>
        <input type="text" id="city-name" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }">
        <button type="submit">Submit</button>
      </form>

      <div *ngIf="countries" class="select-container">
        <p>Multiple locations detected, please select one:</p>
        <select (change)="onSelectCountry($event)">
          <option value="" selected>Select country!</option>
          <option *ngFor="let country of countries" [ngValue]="country" [selected]="selectedCountry === country">{{ country.name }}, {{ country.country }}</option>
        </select>
      </div>

      <div *ngIf="weatherData && weatherData.error" class="error-container">
        <p>{{ weatherData.error }}</p>
      </div>

      <div *ngIf="weatherData && !weatherData.error" class="weather-container">
        <div class="weather-content">
          <div class="weather-heading">
            <h3>{{ weatherData.name }}, {{ weatherData.sys.country }}</h3>
            <div  class="weather-icon">
            <img [src]="weatherData.iconUrl" alt="Weather Icon">
            </div>
            <h5>{{ weatherData.weather[0].description }}</h5>
          </div>
          <div class="weather-data">
            <p>Temperature <a>{{ weatherData.main.temp }} °C</a> </p>
            <p>Feels Like <a>{{ weatherData.main.feels_like }} °C</a></p>
            <p>Min Temp <a>{{ weatherData.main.temp_min }} °C</a></p>
            <p>Max Temp <a>{{ weatherData.main.temp_max }} °C</a></p>
          </div>
          <div class="weather-data">
            <p>Pressure <a>{{ weatherData.main.pressure }} hPa</a></p>
            <p>Humidity <a>{{ weatherData.main.humidity }} %</a></p>
            <p>Visibility <a>{{ weatherData.visibility / 1000 }} km</a></p>
            <p>Wind Speed <a>{{ weatherData.wind.speed }} m/s</a></p>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </body>
</html>
